<#@ include file="../TemplateLibrary.txt" #>

using Xunit;
using Xunit.Extensions;
using System;
using System.Collections.Generic;
using System.Text;

namespace Mosa.Test.Collection.xUnit
{
	public class Ldloca : TestFixture
	{
		<# foreach (KeyValuePair<string, string> number in NumbersWithChar) { #>

		[Theory]
		[MemberData("<#= number.Value #>", DisableDiscoveryEnumeration = true)]
		public void LdlocaCheckValue<#= number.Value #>(<#= number.Key #> a)
		{
			Assert.True(Run<bool>("Mosa.Test.Collection.LdlocaTests.LdlocaCheckValue<#= number.Value #>", a, a));
		}
		<# } #>
	}
}
