*.pdb
*.vcproj.*.user
*.resharper.user
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
/bin/*
/Bin/*
Thumbs.db
*.FileListAbsolute.txt
*.Cache
/tmp
build.force

/Tools/jpc/JPCApplication.jar
/Tools/jpc/JPCDebugger.jar
/Tools/jpc/breakpoints.jpc
/Tools/jpc/classes.jar