*.pdb
*.vcproj.*.user
*.resharper.user
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.pidb
*.userprefs
*.FileListAbsolute.txt
*.Cache
*.tlog
*.vs10x
*.exe.manifest
*.mdb
*.docstates
Thumbs.db
build.force
obj
/bin
/Bin
/bin2
/tmp
/tags

/Tools/peter-bochs/gluegen-rt.dll
/Tools/peter-bochs/jogl.dll
/Tools/peter-bochs/jogl_awt.dll
/Tools/peter-bochs/jogl_cg.dll
/Tools/peter-bochs/os.log
/Tools/peter-bochs/run.txt
