# User-specific files

*.suo 
*.user 
*.userosscache 
*.sln.docstates 

# Build results

[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/

*.[Oo]bj
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.pidb
*.userprefs
*.FileListAbsolute.txt
*.[Cc]ache
*.tlog
*.vs10x
*.exe.manifest
*.mdb
*.docstates
*.vsp
Thumbs.db
build.force
/tmp
/tags

# NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
/Source/*.sdf
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs

# exclude test directory
.test/
