version: '2.0.0.{build}'

configuration: Release
platform: Any CPU
image:
- Visual Studio 2019
- Ubuntu1804

shallow_clone: true

build: off
skip_tags: true

# assembly_info:
#   patch: true
#   file: AssemblyInfo.*
#   assembly_version: '{version}'
#   assembly_file_version: '{version}'
#   assembly_informational_version: '{version}'

dotnet_csproj:
  patch: true
  file: 'Source\*\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

for:

# Windows Build - Visual Studio 2019:
  -
    matrix:
      only:
        - image: Visual Studio 2019

    install:
    - cmd: choco install InnoSetup
    - cmd: SET PATH=C:\Program Files (x86)\Inno Setup 6;%PATH%

    before_build:
    - cmd: dotnet restore Source/Mosa.sln

    build:
      verbosity: minimal
      parallel: true
      project: Source/Mosa.sln
      publish_nuget: false

    after_build:
    - cmd: dotnet pack Source/Mosa.Korlib/Mosa.Korlib.csproj -p:NuspecProperties=\"version=%APPVEYOR_BUILD_VERSION%\"
    - cmd: dotnet pack Source/Mosa.Runtime/Mosa.Runtime.csproj -p:NuspecProperties=\"version=%APPVEYOR_BUILD_VERSION%\"
    - cmd: dotnet pack Source/Mosa.Kernel.x86/Mosa.Kernel.x86.csproj -p:NuspecProperties=\"version=%APPVEYOR_BUILD_VERSION%\"
    - cmd: dotnet pack Source/Mosa.Runtime.x86/Mosa.Runtime.x86.csproj -p:NuspecProperties=\"version=%APPVEYOR_BUILD_VERSION%\"
    - cmd: dotnet pack Source/Mosa.Tools.Package/Mosa.Tools.Package.csproj -p:NuspecProperties=\"version=%APPVEYOR_BUILD_VERSION%\"
    - cmd: ISCC.exe "/DMyAppVersion=%APPVEYOR_BUILD_VERSION%" Source/Inno-Setup-Script/Mosa-Installer.iss
    - cmd: bin\Mosa.Utility.UnitTests.exe -settings tests\UnitTest.settings
#    - cmd: bin\Mosa.Tool.Launcher.Console.exe bin\Mosa.TestWorld.x86.exe -s Launcher.MonitorTest=true
#    - cmd: bin\Mosa.Tool.Launcher.Console.exe bin\Mosa.HelloWorld.x86.exe -s Launcher.MonitorTest=true
#    - cmd: bin\Mosa.Tool.Launcher.Console.exe bin\Mosa.CoolWorld.x86.exe -s Launcher.MonitorTest=true

    build_script:

    test_script:

    after_test:

    nuget:
      project_feed: true

    test: off

    artifacts:
    - path: bin\MOSA-Installer-*.exe
      name: installer
    - path: bin\Mosa.*.nupkg

    deploy:
      - provider: GitHub
        release: MOSA Project - Development Build v$(APPVEYOR_BUILD_VERSION)
        tag: v$(APPVEYOR_BUILD_VERSION)-dev
        description: 'Development Version - v$(APPVEYOR_BUILD_VERSION)'
        auth_token:
          secure: HtzY0gh/s1gwDx89ZAqSdizGGNuQiyzXopLyFWhlpfC91/QvljGfNSS2L86hrl07
        artifact: installer
        draft: false
        prerelease: true
        force_update: true
        on:
          branch: master

      - provider: GitHub
        tag: v$(APPVEYOR_BUILD_VERSION)
        release: MOSA Project v$(APPVEYOR_BUILD_VERSION)
        description: 'Stable Version - v$(APPVEYOR_BUILD_VERSION)'
        auth_token:
          secure: HtzY0gh/s1gwDx89ZAqSdizGGNuQiyzXopLyFWhlpfC91/QvljGfNSS2L86hrl07
        artifact: installer
        draft: false
        prerelease: false
        force_update: true
        on:
          branch: stable

      - provider: NuGet
        server:
        api_key:
          secure: aTaYVizieVZLoxu3Cys6R6lAk3OvG5vtLp3ly4MBz6kwEr9I6HJfhFPNjeLpEa+Y
        skip_symbols: false
        symbol_server:
        artifact: /.*\.nupkg/
        on:
          branch: stable

# Linux Build:
  -
    matrix:
      only:
        - image: Ubuntu1804

    install:
    - sh: sudo apt-get -y -o Acquire::Check-Valid-Until=false update
    - sh: sudo apt-get upgrade -y
    - sh: sudo apt-get install -y git wget qemu qemu-system qemu-system-x86

    before_build:
    - sh: dotnet restore $APPVEYOR_BUILD_FOLDER/Source/Mosa.sln

    build: off

    build_script:
    - sh: msbuild /verbosity:minimal $APPVEYOR_BUILD_FOLDER/Source/Mosa.sln

    test_script:
#    - sh: $APPVEYOR_BUILD_FOLDER/bin/Mosa.Tool.Mosactl test
#    - sh: $APPVEYOR_BUILD_FOLDER/bin/Mosa.Tool.Mosactl unittest
