<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class CallTests 
	{
	<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

		public static bool Call<#= number.Value #>(<#= number.Key #> value) 
		{ 
			return value == CallTarget<#= number.Value #>(value); 
		} 

		private static <#= number.Key #> CallTarget<#= number.Value #>(<#= number.Key #> value) 
		{ 
			return value; 
		}					
	<# } #>
	}
}
