<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class ConvTests 
	{
	<# foreach (KeyValuePair<string, string> convert in Numbers) 
		foreach (KeyValuePair<string, string> number in NegativeIntegers) { #>

		public static bool Conv<#= convert.Value #><#= number.Value #>(<#= convert.Key #> expect, <#= number.Key #> a)
		{
			return expect == (<#= convert.Key #>)a;
		}
<# } #>
	}
}
