
<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class ForeachTests 
	{
	<# foreach (KeyValuePair<string, string> number in Integers) { #>
	
		public static <#= number.Key #> Foreach<#= number.Value #>()
		{
			<#= number.Key #>[] a = new <#= number.Key #>[5];
			for (int i = 0; i < 5; i++)
				a[i] = (<#= number.Key #>)i;

			<#= number.Key #> total = 0;

			foreach (<#= number.Key #> v in a)
				total += v;

			return total;
		}
	<# } #>
	}
}

