/*
 * (c) 2011 MOSA - The Managed Operating System Alliance
 *
 * Licensed under the terms of the New BSD License.
 *
 * Authors:
 *  Kai Patrick Reisert (Boddlnagg) <kpreisert@googlemail.com> 
 *
 */
<#@ include file="../TemplateLibrary.txt" #>

namespace Mosa.Test.Collection
{
	public struct InitStruct
	{
<# foreach (KeyValuePair<string, string> primitives in PrimitivesWithCharAndObject) { #>
		public <#= primitives.Key #> Value<#= primitives.Value #>;
<# } #>
	}

	public static class InitStructTests
	{
<# foreach (KeyValuePair<string, string> primitives in PrimitivesWithCharAndObject) {#>
		public static <#= primitives.Key #> InitStruct<#= primitives.Value #>()
		{
			InitStruct d = new InitStruct();
			return d.Value<#= primitives.Value #>;
		}

<# } #>
	}
}
