<#@ template language="C#" #> 
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="TemplateLibrary.txt" #>

using System;

namespace Mosa.Test.Collection
{

	public static class LdargaCheckValue 
	{
	<# foreach (KeyValuePair<string, string> integer in Numbers) { #>

		public static bool LdargaCheckValue<#= integer.Value #>(<#= integer.Key #> expect, <#= integer.Key #> a) 
		{
			return LdargaCheckValueRef<#= integer.Value #>(expect, ref a);
		}

		public static bool LdargaCheckValueRef<#= integer.Value #>(<#= integer.Key #> expect, ref <#= integer.Key #> a)
		{
			return (expect == a);
		}
	<# } #>
	}
}
 