<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class LdargaTests 
	{
	<# foreach (KeyValuePair<string, string> number in NumbersWithCharAndBool) { #>

		public static <#= number.Key #> LdargaCheckValue<#= number.Value #>(<#= number.Key #> a) 
		{
			return LdargaCheckValueRef<#= number.Value #>(ref a);
		}

		private static <#= number.Key #> LdargaCheckValueRef<#= number.Value #>(ref <#= number.Key #> a)
		{
			return a;
		}
				
		public static <#= number.Key #> LdargaChangeValue<#= number.Value #>(<#= number.Key #> a, <#= number.Key #> b)
		{
			LdargaChangeValueRef<#= number.Value #>(ref a,b);
			return a;
		}

		private static void LdargaChangeValueRef<#= number.Value #>(ref <#= number.Key #> a, <#= number.Key #> b)
		{
			a = b;
		}
	<# } #>
	}
}
