<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class LdlocaTests 
	{
	<# foreach (KeyValuePair<string, string> number in Numbers) { #>

		public static bool LdlocaCheckValue<#= number.Value #>(<#= number.Key #> expect) 
		{
			<#= number.Key #> a = expect;
			return LdlocaCheckValueRef<#= number.Value #>(expect, ref a);
		}

		private static bool LdlocaCheckValueRef<#= number.Value #>(<#= number.Key #> expect, ref <#= number.Key #> a)
		{
			return (expect == a);
		}
	<# } #>
	}
}
