<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

<# foreach (KeyValuePair<string, string> number in PrimitivesWithChar) { #>
	
	public static class StaticFieldTest<#= number.Value #> 
	{
		private static <#= number.Key #> field;
		
		public static bool StaticField<#= number.Value #> (<#= number.Key #> value) 
		{
			field = value;
			return (value == field);
		}
	}
<# } #>
}