// Remove conditional statement after Mono 2.11 is released
#ifndef __MonoCS__

<#@ include file="TemplateLibrary.txt" #>
using System;

namespace Mosa.Test.Collection
{

	public static class SwitchTests 
	{
	<# foreach (KeyValuePair<string, string> number in NegativeIntegers) { #>
	
		public static <#= number.Key #> Switch<#= number.Value #>(<#= number.Key #> a)
		{
			switch (a)
			{
				case 0:
					return 0;
				case 1:
					return 1;
				case -1:
					return -1;
				case 2:
					return 2;
				case -2:
					return -2;
				case 23:
					return 23;
				case <#= number.Key #>.MinValue:
					return <#= number.Key #>.MinValue;
				case <#= number.Key #>.MaxValue:
					return <#= number.Key #>.MaxValue;
				default:
					return 42;
			}
		}
	<# } #>
	<# foreach (KeyValuePair<string, string> number in PositiveIntegers) { #>
	
		public static <#= number.Key #> Switch<#= number.Value #>(<#= number.Key #> a)
		{
			switch (a)
			{
				case 0:
					return 0;
				case 1:
					return 1;
				case 2:
					return 2;
				case 23:
					return 23;
				case <#= number.Key #>.MaxValue:
					return <#= number.Key #>.MaxValue;
				default:
					return 42;
			}
		}
	<# } #>
	}
}

#endif