<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Mosa.ClassLib" version="1.0.0.1" targetFramework="net461" />
	<package id="Mosa.Kernel.x86" version="1.0.0.1" targetFramework="net461" />
	<package id="Mosa.Korlib" version="1.0.0.1" targetFramework="net461" />
	<package id="Mosa.Runtime" version="1.0.0.1" targetFramework="net461" />
	<package id="Mosa.Runtime.x86" version="1.0.0.1" targetFramework="net461" />
	<package id="Mosa.Tools.Package" version="1.0.0" targetFramework="net461" />
</packages>
