<?xml version="1.0"?>
<packages>
	<package id="Mosa.Korlib" version="1.0.0.5" targetFramework="net472" />
	<package id="Mosa.Kernel.x86" version="1.0.0.5" targetFramework="net472" />
	<package id="Mosa.Runtime" version="1.0.0.5" targetFramework="net472" />
	<package id="Mosa.Runtime.x86" version="1.0.0.5" targetFramework="net472" />
	<package id="Mosa.Tools.Package" version="1.0.0.5" targetFramework="net472" />
</packages>
