<#@ include file="../TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.System.Numbers;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.Extra
{
	[TestFixture]
	public class ConditionalOperatorFixture : TestCompilerAdapter
	{
		public ConditionalOperator()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in Numbers) 
		foreach (KeyValuePair<string, string> compare in Comparisons) 
		{ #>
		
		[Test]
		public void Compare<#= compare.Value #><#= number.Value #>([<#= number.Value #>]<#= number.Key #> a, [<#= number.Value #>]<#= number.Key #> b, [<#= number.Value #>]<#= number.Key #> c, [<#= number.Value #>]<#= number.Key #> d)
		{
			Assert.AreEqual(ConditionalOperatorTests.Compare<#= compare.Value #><#= number.Value #>(a, b, c, d), Run<<#= number.Key #>>("Mosa.Test.Collection", "ConditionalOperatorTests", "Compare<#= compare.Value #><#= number.Value #>", a, b, c, d));
		}
		<# } #>

	}
}
