BODY
{
	margin-left: 3%;
	margin-right: 3%;
	font-family: arial, helvetica, sans-serif;
	font-size: small;
	background-color: white;
	color: black;
}

#left
{
	float: left;
	width: 12%;
	margin: 0% 0% 5% 0%;
	padding: 4px 2% 10px 2%;
	border: 0px;
	border-right: 1px;
	border-style: solid;
	border-color: #aaaaaa;
	background-color: #ffffff;
}

#main
{
	margin: 0% 0% 5% 17%;
	padding: 4px 2% 10px 2%;
	border: 0px;
	background-color: white;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: small;
	text-decoration: none;
	font-weight: normal;
}

#foot
{
	clear: both;
	border-top: 0px solid;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
	font-size: x-small;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
}

A:link
{
	color: #336699;
}

A:visited
{
	color: #663399;
}

H1, H2, H3, H4, H5, H6
{
	font-family: arial, helvetica, sans-serif;
	color: #336699;
	line-height: 0.8;
}

UL
{
	list-style: disc outside;
}

.body
{
	font-family: arial, helvetica, sans-serif;
	font-size: small;
}

.bold
{
	font-weight: bold;
}

.box
{
	border: thin dotted;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
}

.caption
{
	font-weight: bold;
	border: 1px solid #336699;
	border-bottom: none;
	width: 50%;
	margin-left: 10%;
	background-color: #ffffff;
	font-weight: bold;
	padding: 0.5em;
	margin-bottom: 0;
}

.code
{
	border: 1px solid #336699;
	font-family: Courier, monospace;
	white-space: pre;
	width: 90%;
	margin-left: 10%;
	background-color: #eeffff;
	padding: 0.5em;
}

.em
{
	font-style: italic;
}

.example
{
	margin-left: 5%;
	margin-right: 25%;
	background-color: yellow;
}

.indent
{
	padding-left: 5%;
}

.head
{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	color: #336699;
}

.highlight
{
	color: #336699;
}

.nav
{
	font-family: arial, helvetica, sans-serif;
	font-size: small;
	text-decoration: none;
	line-height: 45%;
	padding-left: 10px;
}

.navhead
{
	font-family: arial, helvetica, sans-serif;
	font-size: medium;
	color: #336699;
	text-decoration: none;
	line-height: 90%;
	padding-left: 0px;
}

.ref
{
	font-weight: bold;
}

.subhead
{
	font-style: italic;
}

.sub
{
	vertical-align: sub;
	font-size: xx-small;
}

.super
{
	vertical-align: super;
	font-size: xx-small;
}

.tablebody
{
	font-family: arial, helvetica, sans-serif;
	font-size: small;
}

.diagram
{
	border: 1px solid #336699;
	font-family: Courier, monospace;
	white-space: pre;
	width: 90%;
	margin-left: 10%;
	background-color: #eeeeff;
}

hr
{
	border-style: none;
	background-color: #336699;
	height: 2px;
}
