<#@ include file="../TemplateLibrary.txt" #>
using Xunit;
using Xunit.Extensions;
using System;
using System.Collections.Generic;
using System.Text;
namespace Mosa.Test.Collection.x86.xUnit
{
	public class ForeachFixture : X86TestFixture
	{
		<# foreach (KeyValuePair<string, string> number in Integers) { #>

		[Fact]
		public void Foreach<#= number.Value #>()
		{
			Assert.Equal(Mosa.Test.Collection.ForeachTests.Foreach<#= number.Value #>(), Run<<#= number.Key #>>("Mosa.Test.Collection.ForeachTests.Foreach<#= number.Value #>"));
		}
		<# } #>

	}
}
