<#@ include file="../../TemplateLibrary.txt" #>
namespace Mosa.UnitTests.Basic;

public static class CallTests
{
<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

	[MosaUnitTest(Series = "<#= number.Value #>")]
	public static bool Call<#= number.Value #>(<#= number.Key #> value)
	{
		return value == CallTarget<#= number.Value #>(value);
	}

	private static <#= number.Key #> CallTarget<#= number.Value #>(<#= number.Key #> value)
	{
		return value;
	}
<# } #>
}
