<#@ include file="../../TemplateLibrary.txt" #>
namespace Mosa.UnitTests.Basic;

public static class ConvTests
{
<# foreach (KeyValuePair<string, string> convert in Integers) 
	foreach (KeyValuePair<string, string> number in Integers) { #>

	[MosaUnitTest("<#= convert.Value #>", "<#= number.Value #>")]
	public static bool Conv<#= convert.Value #><#= number.Value #>(<#= convert.Key #> expect, <#= number.Key #> a)
	{
		return expect == (<#= convert.Key #>)a;
	}
<# } #>
}
