<#@ include file="../../TemplateLibrary.txt" #>
namespace Mosa.UnitTests.Basic;

public static class ForeachTests
{
<# foreach (KeyValuePair<string, string> number in Integers) { #>

	[MosaUnitTest]
	public static <#= number.Key #> Foreach<#= number.Value #>()
	{
		var a = new <#= number.Key #>[5];
		for (var i = 0; i < 5; i++)
			a[i] = (<#= number.Key #>)i;

		<#= number.Key #> total = 0;

		foreach (var v in a)
			total += v;

		return total;
	}
<# } #>
}

