<#@ include file="TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;
using Mosa.Test.System;
using Mosa.Test.Numbers;

namespace Mosa.Test.Collection.MbUnit
{
	[TestFixture]
	public class CallFixture : TestCompilerAdapter
	{
		public CallFixture()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

		[Test]
		public void Call<#= number.Value #>([<#= number.Value #>]<#= number.Key #> a)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "CallTests", "Call<#= number.Value #>", a));
		}
		<# } #>

	}
}
