<#@ include file="../TemplateLibrary.txt" #>
using Xunit;
using Xunit.Extensions;

namespace Mosa.UnitTest.Collection.xUnit
{
<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

	public class Fixture_Call<#= number.Value #> : TestFixture
	{
		[Theory]
		[MemberData(nameof(<#= number.Value #>))]
		public void Call<#= number.Value #>(<#= number.Key #> a)
		{
			Assert.True(Run<bool>("Mosa.UnitTest.Collection.CallTests.Call<#= number.Value #>", a));
		}
	}
<# } #>
}
