<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.16.1" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.16.1" targetFramework="net461" />
  <package id="SharpDisasm" version="1.1.5" targetFramework="net46" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
</packages>