<#@ include file="../TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.System.Numbers;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class BoxingFixture : TestCompilerAdapter
	{
		public Boxing()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in NumbersWithChar) { #>
		
		[Test]
		public void Box<#= number.Value #>([<#= number.Value #>]<#= number.Key #> value)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "BoxingTests", "Box<#= number.Value #>", value));
		}
		<# } #>
	}
}
