<#@ include file="../TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.Runtime.CompilerFramework;
using Mosa.Test.Runtime.CompilerFramework.Numbers;
namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class CallFixture : TestCompilerAdapter
	{
		public Call()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

		[Test]
		public void Call<#= number.Value #>([<#= number.Value #>]<#= number.Key #> a)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "CallTests", "Call<#= number.Value #>", a));
		}
		<# } #>

	}
}
