<#@ include file="../TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.System;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class GenericCall : TestCompilerAdapter
	{
		public GenericCall()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in IntegersWithChar) { #>

		[Test]
		[Pending]
		public void GenericCall<#= number.Value #>([<#= number.Value #>]<#= number.Key #> a)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "GenericCallTests", "GenericCall<#= number.Value #>", a));
		}
		<# } #>

	}
}
