<#@ include file="../TemplateLibrary.txt" #>

using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class Initobj : TestCompilerAdapter
	{
		public Initobj()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
<# foreach (KeyValuePair<string, string> primitive in PrimitivesWithCharAndObject) { #>

		[Test]
		public void Initobj<#= primitive.Value #>()
		{
			Assert.AreEqual(InitobjTests.InitobjTest<#= primitive.Value #>(), Run<<#= primitive.Key #>>("Mosa.Test.Collection", "InitobjTests", "InitobjTest<#= primitive.Value #>"));
		}
<# } #>

	}
}
