<#@ include file="../TemplateLibrary.txt" #>

using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class StaticField : TestCompilerAdapter
	{
		public StaticField()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
<# foreach (KeyValuePair<string, string> primitive in PrimitivesWithChar) { #>

		[Test]
		public void StaticField<#= primitive.Value #>([<#= primitive.Value #>]<#= primitive.Key #> a)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "StaticFieldTest<#= primitive.Value #>", "StaticField<#= primitive.Value #>", a));
		}
<# } #>

	}
}
