<#@ include file="../TemplateLibrary.txt" #>

using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.System.Numbers;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class Structures : TestCompilerAdapter
	{
		public Structures()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
<# foreach (KeyValuePair<string, string> number in NumbersWithChar) {
			if (number.Value.EndsWith("8")) { #>
		[Pending("See Bug #52")]<# } #>

		[Test]
		public void StructTestSet1<#= number.Value #>([<#= number.Value #>]<#= number.Key #> one)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "StructTests", "StructTestSet1<#= number.Value #>", one));
		}
		
		[Test]
		[Pending("See Bug #52")]
		public void StructTestSet3<#= number.Value #>([<#= number.Value #>]<#= number.Key #> one, [<#= number.Value #>]<#= number.Key #> two, [<#= number.Value #>]<#= number.Key #> three)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "StructTests", "StructTestSet3<#= number.Value #>", one, two, three));
		}
<# } #>
	}
}
