<#@ include file="../TemplateLibrary.txt" #>
using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.System.Numbers;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.CIL
{
	[TestFixture]
	public class SwitchFixture : TestCompilerAdapter
	{
		public SwitchFixture()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> number in Integers) { #>

		[Test]
		public void Switch<#= number.Value #>([<#= number.Value #>]<#= number.Key #> a)
		{
			Assert.AreEqual(SwitchTests.Switch<#= number.Value #>(a), Run<<#= number.Key #>>("Mosa.Test.Collection", "SwitchTests", "Switch<#= number.Value #>", a));
		}
		<# } #>

	}
}
