<#@ include file="../TemplateLibrary.txt" #>

using System;
using System.Collections.Generic;
using System.Text;
using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.System.Numbers;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.FIX.IL
{
	[TestFixture]
	public class Conv : TestCompilerAdapter
	{
		public Conv()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
		<# foreach (KeyValuePair<string, string> convert in Numbers) 
		foreach (KeyValuePair<string, string> number in NegativeIntegers) { #>
		
		[Test]
		public void Conv<#= convert.Value #><#= number.Value #>([<#= convert.Value #>]<#= convert.Key #> a, [<#= number.Value #>]<#= number.Key #> b)
		{
			Assert.IsTrue(Run<bool>("Mosa.Test.Collection", "ConvTests", "Conv<#= convert.Value #><#= number.Value #>", a, b));
		}
		<# } #>

	}
}
