/*
 * (c) 2011 MOSA - The Managed Operating System Alliance
 *
 * Licensed under the terms of the New BSD License.
 *
 * Authors:
 *  Kai Patrick Reisert (Boddlnagg) <kpreisert@googlemail.com> 
 *
 */
 <#@ include file="../TemplateLibrary.txt" #>

using MbUnit.Framework;

using Mosa.Test.System;
using Mosa.Test.Collection;

namespace Mosa.Test.Cases.IL
{
	[TestFixture]
	public class Initobj : TestCompilerAdapter
	{
		public Initobj()
		{
			settings.AddReference("Mosa.Test.Collection.dll");
		}
<# foreach (KeyValuePair<string, string> primitive in PrimitivesWithCharAndObject) { #>

		[Test]
		[Pending("Commented out until implemented")]
		public void Initobj<#= primitive.Value #>()
		{
			//Assert.AreEqual(InitobjTests.InitobjTest<#= primitive.Value #>(), Run<<#= primitive.Key #>>("Mosa.Test.Collection", "InitobjTests", "InitobjTest<#= primitive.Value #>"));
		}
<# } #>

	}
}
