<#@ include file="../TemplateLibrary.txt" #>
using System;

namespace Mosa.UnitTest.Collection
{

	public static class ComparisonTests 
	{
	<# foreach (KeyValuePair<string, string> number in IntegersWithChar) 
		foreach (KeyValuePair<string, string> compare in Comparisons) 
	{ #>

		public static bool Compare<#= compare.Value #><#= number.Value #>(<#= number.Key #> a, <#= number.Key #> b)
		{
			return (a <#= compare.Key #> b);
		}
	<# } #>
	}
}
