name: Builds

on:
  push:
  pull_request:

jobs:
  build-mswin:
    name: Windows Build
    runs-on: windows-latest
    env:
      BUILD_VERSION: 2.4.0
      NUGET_ENABLE_LEGACY_CSPROJ_PACK: true
    steps:
      - name: Set net7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: View Build Version
        run: echo ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: View Github Info
        run: echo repository=${{ github.repository }} event_name=${{ github.event_name }} ref=${{ github.ref }} head_ref=${{ github.head_ref }} base_ref=${{ github.base_ref }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
      - name: Setup Nuget.exe
        uses: nuget/setup-nuget@v1
      - name: Restore nuget Packages
        run: dotnet restore Source/Mosa.sln
      - name: Build
        run: dotnet build Source/Mosa.sln /p:Version=${{ env.BUILD_VERSION }}
      - name: Unit Tests - All Performance Optimizations
        run: bin\Mosa.Utility.UnitTests.exe -oMax -s Emulator.Display=false
      - name: Unit Tests - No Optimizations
        run: bin\Mosa.Utility.UnitTests.exe -oNone -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 1
        run: bin\Mosa.Utility.UnitTests.exe -o1 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 2
        run: bin\Mosa.Utility.UnitTests.exe -o2 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 3
        run: bin\Mosa.Utility.UnitTests.exe -o3 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 4
        run: bin\Mosa.Utility.UnitTests.exe -o4 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 5
        run: bin\Mosa.Utility.UnitTests.exe -o5 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 6
        run: bin\Mosa.Utility.UnitTests.exe -o6 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 7
        run: bin\Mosa.Utility.UnitTests.exe -o7 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 8
        run: bin\Mosa.Utility.UnitTests.exe -o8 -s Emulator.Display=false
#      - name: Test Demo - Mosa.Demo.HelloWorld.x86 
#        run: bin\Mosa.Tool.Launcher.Console.exe bin\Mosa.Demo.HelloWorld.x86.dll -s Launcher.Test=true
#      - name: Test Demo - Mosa.Demo.CoolWorld.x86 
#        run: bin\Mosa.Tool.Launcher.Console.exe bin\Mosa.Demo.CoolWorld.x86.dll -s Launcher.Test=true
      - name: Build Project - Mosa.Templates
        run: dotnet build Source\Mosa.Templates\Mosa.Templates.csproj
      - name: Create Package - Mosa.Templates
        run: nuget pack Source\Mosa.Templates\Mosa.Templates.csproj -Tool -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Tools.Package
        run: nuget pack Source\Mosa.Packages\Mosa.Tools.Package.nuspec -Tool -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Korlib
        run: nuget pack Source\Mosa.Packages\Mosa.Korlib.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.DeviceSystem
        run: nuget pack Source\Mosa.Packages\Mosa.DeviceSystem.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Runtime
        run: nuget pack Source\Mosa.Packages\Mosa.Runtime.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Platform.x86
        run: nuget pack Source\Mosa.Packages\Mosa.Platform.x86.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Kernel.x86
        run: nuget pack Source\Mosa.Packages\Mosa.Kernel.x86.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Platform.x64
        run: nuget pack Source\Mosa.Packages\Mosa.Platform.x64.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Package - Mosa.Kernel.x64
        run: nuget pack Source\Mosa.Packages\Mosa.Kernel.x64.nuspec -OutputDirectory bin\nupkg -Version ${{ env.BUILD_VERSION }}.${{ github.run_number }}
      - name: Create Nuget Packages Artifact
        uses: actions/upload-artifact@master
        with:
          name: Nuget Packages
          path: bin\nupkg
      - name: Publish Package - Mosa.Templates
        run: dotnet nuget push bin\nupkg\Mosa.Templates.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Tools.Package
        run: dotnet nuget push bin\nupkg\Mosa.Tools.Package.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Korlib
        run: dotnet nuget push bin\nupkg\Mosa.Korlib.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.DeviceSystem
        run: dotnet nuget push bin\nupkg\Mosa.DeviceSystem.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Runtime
        run: dotnet nuget push bin\nupkg\Mosa.Runtime.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Platform.x86
        run: dotnet nuget push bin\nupkg\Mosa.Platform.x86.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Kernel.x86
        run: dotnet nuget push bin\nupkg\Mosa.Kernel.x86.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Platform.x64
        run: dotnet nuget push bin\nupkg\Mosa.Platform.x64.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'
      - name: Publish Package - Mosa.Kernel.x64
        run: dotnet nuget push bin\nupkg\Mosa.Kernel.x64.${{ env.BUILD_VERSION }}.${{ github.run_number }}.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
        if: github.event_name == 'push' && github.repository == 'mosa/MOSA-Project' && github.ref == 'refs/heads/master'

  build-unix:
    name: Linux Build
    runs-on: ubuntu-latest
    steps:
      - name: Set net7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Restore nuget Packages
        run: dotnet restore Source/Mosa.Linux.sln
      - name: Build
        run: dotnet build Source/Mosa.Linux.sln
      - name: Update Package Respository
        run: sudo apt-get -y -o Acquire::Check-Valid-Until=false update
      - name: Install Qemu
        run: sudo apt-get install -y libsdl2-image-2.0-0 virglrenderer1
      - name: Unit Tests - All Performance Optimizations
        run: dotnet bin/Mosa.Utility.UnitTests.dll -oMax -s Emulator.Display=false
      - name: Unit Tests - No Optimizations
        run: dotnet bin/Mosa.Utility.UnitTests.dll -oNone -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 1
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o1 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 2
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o2 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 3
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o3 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 4
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o4 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 5
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o5 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 6
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o6 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 7
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o7 -s Emulator.Display=false
      - name: Unit Tests - Optimization Level 8
        run: dotnet bin/Mosa.Utility.UnitTests.dll -o8 -s Emulator.Display=false

  generate-docs:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - name: Set python3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Update package respository
        run: sudo apt-get -y -o Acquire::Check-Valid-Until=false update
      - name: Install Graphviz
        run: sudo apt-get install -y graphviz
      - name: Install Sphinx dependencies
        run: pip3 install sphinx sphinxcontrib.httpdomain sphinx-prompt sphinx_rtd_theme sphinx-tabs
      - name: Generate HTML website
        run: sphinx-build -b html Source/Docs sphinx-docs
      - name: Create ZIP archive
        run: zip -r docs-${{ env.BUILD_VERSION }}.${{ github.run_number }}.zip sphinx-docs
      - name: Create artifact
        uses: actions/upload-artifact@master
        with:
          name: docs-${{ env.BUILD_VERSION }}.${{ github.run_number }}.zip
          path: docs-${{ env.BUILD_VERSION }}.${{ github.run_number }}.zip